@import '../mq.sass'

.navbar
    border-bottom: 1px solid #dbdbdb

.navbar-brand
    margin-right: 1rem

.navbar-burger
    margin-left: auto
    margin-right: 0

.navbar-main:hover, .navbar-main.active
    color: $link

+desktop
    .navbar-main:hover, .navbar-main.is-active
        border-bottom: 5px solid black
    .navbar-item
        font-size: 1rem